/* =========layout style========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
/* ========= Layout Style========== */

/* ========== Global Css========== */
.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    padding: 5px;
    width: 100%;
}
.col-12{
    width: 100%;
}
.col-6{
    width: 50%;
}
.col-4{
    width: 33.333%;
}
.d-flex{
    display: flex;
}
.flex-colume{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
img{
    max-width: 100%;
}
/* ========== Global Css========== */


/* ========== Main Css Style========== */
/* ========== Stay Css Style========== */
section.stay-section {
    padding: 0 0 80px;
}
.main-heading {
    margin-bottom: 20px;
    border-left: 3px solid;
    border-image: linear-gradient(#f6b73c, #ff5959) 1;
}
.main-heading h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    max-width: 400px;
    margin-left: 5px;
    color: #13103A;
}
.main-heading h1 span {
    color: #FFAD5A;
}
.stay-discription {
    margin-bottom: 20px;
}
.stay-discription p {
    font-size: 18px;
    color: #3E3E3E;
    font-weight: 400;
    line-height: 28px;
}
.stay-button {
    margin-bottom: 20px;
}
.stay-button a {
    background-color: #ff5959;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    border: 1px solid #ff5959;
    border-radius: 3px;
    line-height: 26px;
}
.stay-bottom-tex p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #3E3E3E;
}
.stay-img img {
    width: 426px;
    margin-left: 20px;
}
/* ========== Stay Css Style========== */
/* ========== Main Css Style========== */
